[Desktop Entry]
Name=footsteps yarpmanager
Type=Application
MimeType=application/vnd.ms-htmlhelp;
Exec=yarpmanager
NoDisplay=true
StartupNotify=true
Icon=A35F_hh.0
Icon=/home/teo/repos/footsteps/doc/fig/step.png
Path=/home/teo/repos/footsteps/share
